/*Start header*/

.upper-menu
{
  background-color: #f7faff;
  min-height: 100px;
  height: 100px;
}
.upper-menu svg
{
  font-size: 20px;
}
.dot
{
  height: 7px;
  width: 7px;
  background-color: #f6336f;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -3px;
}

/*End header*/
